<p>You are now in the edit</p>

<form action="/add_post" method="post">
  <input name="username" placeholder="username" />
  <input name="email" placeholder="email" />
  <button type="submit">change</button>
</form>