<form action="/edit-profile" method="post">
  <label for="aboutMe">about Me</label>
  <textarea name="aboutMe" id="" cols="30" rows="10"></textarea>
  <button type="submit">update profile</button>
  <label for="email">Email</label>
  <input type="email" name="email" value="{{user.email}}">
</form>

<form action="/uploadAvatarImg/{{user._id}}" method="post" enctype="multipart/form-data">
  <input type="file" name="photo" class="photo-input">
  <br>
  <input type="submit" value="SAVE" class="btn">
</form>