<div class="container">
  <div class="blue titlefont">
    <h1>Storyboard your Code</h1>
  </div>
  <div class="">
    <p>Code Story is an online journal for web developers to document and record their learning progress over time</p>
    <p>Enter a <span class="pink">category</span> (like Javascript, Express, or Node)</p>
    <p>record the <span class="pink">time spent</span> and <span class="pink">difficulty</span> of the material</p>
    And attach any <span class="pink">sources</span>
    used</p>
    {{!-- <p>Easily share links with yourself for future use</p> --}}
  </div>

  {{!-- <div class="blue titlefont">
    <h1>Graph your Progress</h1>
  </div>
  <div class="">
    <p>With each <span class="pink">category</span>, <span class="pink">time
        spent</span>, and <span class="pink">difficulty</span> logged, your progress is displayed as beautiful <span
        class="pink">Data</span>
    </p>
  </div>
</div> --}}