<div id="frontLogo" class="section d-flex align-items-center justify-content-center">
  <img src="../images/logo2.png" />
</div>
{{!-- <div class="d-flex justify-content-center">
    <h1><i>The online journal for web developers</i></h1>
  </div> --}}
</div>
<div class="section-2 dark">
  <div class="d-flex">
    <div class="box">
      <div class="blue titlefont">
        <h1>Storyboard your Code</h1>
      </div>
      <h4><i>Whether you are learning a <span class="pink">language</span>, <span class="pink">framework</span>, <span
            class="pink">library</span>, or <span class="pink">package</span>, Code Story's clean text editor helps you
          document the learning process.</i></h4>
      <h4></h4>
    </div>
    <div class="box">
      <img src="../images/quill.png" />
    </div>
  </div>
</div>

</div>
<div class="section-3">
  <div class="d-flex justify-content-start">
    <div class="box">
      <div class="blue titlefont">
        <h1>Graph your Progress</h1>
      </div>
      <div class="">
        <h4>When you have finished writing, it's time to organize the details! </h4>
        <p>Enter a <span class="pink">category</span> (like Javascript, Express, or
          Node.js)
        </p>
        <p>Record the <span class="pink">time spent</span> and <span class="pink">difficulty</span> of the material (for
          future reference)
        </p>
        Then list any <span class="pink">sources</span> used
        </p>
        <p>With each section logged, your progress is displayed on your profile as
          beautiful <br>
          <span class="pink">Data</span>
        </p>
      </div>
    </div>
  </div>

</div>