<div>
  <section id="frontLogo" class="section">
    <div class="d-flex justify-content-end pr-4 align-items-center picture-div">
      <div class="sectionp pt-5 mt-5">
        <h1 class="titlefont pink">Learning to code?</h1>
        <p class="pt-5 mt-1 pl-5 ml-5">Journal about your learning experience with code Story</p>
      </div>
    </div>

  </section>
  {{!-- <div class="d-flex justify-content-center">
    <h1><i>The online journal for web developers</i></h1>
  </div> --}}

  <section class="section-2 dark d-flex">
    <div class="d-flex justify-content-center pr-4 align-items-center picture-div">
      <div class="sectionp title2 pt-5 mt-5 pl-5 ml-5">
        <h2 class="blue">Storyboard your Code</h2>
        <ul class="bullet-main">
          <li>Measure your progress</li>
          <li>Stay motivated</li>
          <li>Get Organized - all your sources in one place</li>
        </ul>

      </div>
    </div>
    {{!-- <div class="pt-5 mt-4"> --}}
    <img class="pl-5 ml-5 pt-5 mt-5" src="../images/learning.png" height="500px">
  </section>



  <section class="section-3">
    <div class="d-flex justify-content-start">
      <div class="mt-5 pt-5 ml-5">
        <img class="pt-5 mt-5" src="../images/Quill2.png">
      </div>
      <div class="pink  title2 pl-5 ml-5 pt-5 mt-5">
        <h2>Storyboard your Code</h2>
        <ul class=" bullet-main bg-font">
          <li>Write notes about experience</li>
          <li>Keep track of your study time</li>
          <li>See what others are studying</li>
        </ul>
      </div>

    </div>
  </section>

  <section class="section-4">
    <div class="d-flex justify-content-center">
      <div class="mt-5 pt-5 ml-5">
        <img class="pt-5 mt-5" src="../images/Quill2.png">
      </div>
      <div class="blue  title2 pl-5 ml-5 pt-5 mt-5">
        <h2>Storyboard your Code</h2>
        <ul class="bullet-main bg-font">
          <li>Write notes about experience</li>
          <li>Keep track of your study time</li>
          <li>See what others are studying</li>
        </ul>
      </div>

    </div>


  </section>
</div>







{{!-- // Old stuff --}}


{{!-- <div class="d-flex justify-content-start">
      <div>
        <div class="blue titlefont">
          <h1>Graph your Progress</h1>
        </div>
        <div class="sectionp">
          <h4>When you have finished writing, it's time to organize the details! </h4>
          <p>Enter a <span class="pink">category</span> (like Javascript, Express, or
            Node.js)
          </p>
          <p>Record the <span class="pink">time spent</span> and <span class="pink">difficulty</span> of the material
            (for
            future reference)
          </p>
          Then list any <span class="pink">sources</span> used
          </p>
          <p>With each section logged, your progress is displayed on your profile as
            beautiful <br>
            <span class="pink">Data</span>
          </p>
        </div>
      </div>
    </div> --}}