<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <a href="/">Home</a>

    {{#if isConnected}}
    <a href="/home/profile">Profile page</a>
    <a href="/auth/logout">Log out</a>
    {{else}}
    <a href="/auth/signin">Sign in</a>
    <a href="/auth/Login">Log in</a>
    {{/if}}

  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>