<h1>My profile</h1>

<p><strong>Email: </strong> {{user.email}}</p>
<a href="/home/profile/edit/{{user._id}}">edit</a>

<p><strong>Username: </strong> {{user.username}}</p>
<p><strong>Password: </strong> {{user.password}}</p>



{{!-- router.post('/celebrities/:Id/delete', (req, res, next) => {
 Celebrity.findByIdAndDelete(req.params.Id)
   .then(() => {
     res.redirect('/celebrities')
   })
   .catch(() => {
     next()
   })
})

router.get('/celebrities/:Id/edit', (req, res, next) => {
 Celebrity.findById(req.params.Id)
   .then((celebrity) => {
     res.render('celebrities/edit', {
       celebrity: celebrity
     })
   })
})

router.post('/celebrities/:Id/edit', (req, res, next) => {
 const { name, occupation, catchPhrase } = req.body
 Celebrity.findByIdAndUpdate(req.params.Id, { name, occupation, catchPhrase })
   .then(() => {
     res.redirect('/celebrities')
   })

}) --}}