<div class="container diary-post-div black">
  <div class="container2">
    <div class="d-flex bd-highlight">
      <div class="mr-auto p-2">
        <h4>{{diary.diaryTitle}} by <span class="white"> {{diary._owner.username}}</h4></span>
      </div>
      <div class="p-2 bd-highlight pink titlefont">
        <h2>{{diary.category}}</h2>
      </div>
    </div>
    {{{diary.description}}}
  </div>
</div>