@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');


body {
  font-family: 'Varela Round', sans-serif;
}
.section-2 h2{
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

.titlefont {
  font-family: 'Lobster', cursive;
  font-size: 90px;
}

.sectionp p {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  max-width: 500px;
}
.section-2 li {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  max-width: 500px;
}
.picture-div {
  height: 60vh;
}

#navbarSupportedContent {
  font-family: 'Varela Round', sans-serif;

}
/// 'Lucida Grande', Helvetica, Arial, sans-serif
.bg-color {
  background-color: #262626;
}

.container2 {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.card-header {
  padding: 5px !important;
  font-size: 10px;
  height: 35px;
  background-color: #ccc !important;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}

.remove-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dark {
  background-color: black;
}

.bg-font {
  color: #fff;
}

.blue {
  color: #57c6c8;
}

.btn-pink {
  background-color: #f8514c;
}

.btn-blue {
  background-color: #57c6c8;
}

strong {
  color: #57c6c8;
}

.btn-pink:hover {
  background-color: #d13b35;
  color: white;
}

.btn-blue:hover {
  background-color: #47b1b3;
  color: white;
}

.pink {
  color: #f8514c;
}

.black {
  color: black;
}

.section {
  margin-top: -90px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 950px;
}

.section-2 {
  height: 650px;
  background-color: #686868;
}

.section-3 {
  height: 650px;
}

.section-3 h2 {
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

.section-3 li {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  max-width: 500px;
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 253px;
}

#login {
  height: 80vh;
}

#signup {
  height: 80vh;
}

#loginButton {
  border-color: #57c6c8;
  color: #fff;
  background-color: #57c6c8;
}

#signupButton {
  border-color: #57c6c8;
  color: #fff;
  background-color: #57c6c8;
}

.diary-post-div {
  background-color: #ccc;
  margin-top: 30px;
  border-radius: 20px;
  padding: 15px;
}

.text-box {
  background-color: #fff;
  color: black;
  height: 300px;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type='text'] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type='submit'] {
  background-color: #57c6c8;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 5px;
  color: black;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 5px;
  color: black;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #57c6c8 !important;
  color: #ffffff;
}
.parag {
  font-family: 'Lobster';
  font-size:20px;
  padding-left: 5px;
}
.addbutton {
  background-color: #57c6c8;
  color: white;
  font-family: "Lobster";
}
#myDoughnut {
  max-width: 350px !important;
  // max-height: 30vw !important;
}
#myChart {
  max-width: 650px !important;
  max-height: 600px !important;
}
#myDifficulty {
  max-width: 450px !important;
  max-height: 400px !important;
}
.chart-div {
  width: 400px;
  height:400px;
}
.card {
  color: #262626;
}
#frontLogo {
  margin: 0;
  background-image: url(../images/0_TbEDCh4nVDmw7QJs.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 800px;
}
.box {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 50px 30px 50px;
  border-radius: 10px;
}
.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.photo-input {
  width: 20vw;
  background-color: #262626;
}
.active {
      color:#f8514c !important;
      }
.btn-outline-danger {
  color:#f8514c !important;
  border-color: #f8514c !important;
  font-family:"Lobster";
}
.btn-outline-danger:hover {
  background-color:  #f8514c !important;
  color: white !important;
}
.btn-outline-success {
  color: #57c6c8!important;
  border-color: #57c6c8 !important;
  font-family:"Lobster";
}
.btn-outline-success:hover {
  background-color:  #57c6c8 !important;
  color: white !important;
}
.story-card {
margin: 40px auto 0px;
border-radius: 25px !important;
min-height: 80px;
}
#main-container {
  flex-grow: 1 !important;
  display: flex;
  justify-content: center;
}

